
header {
    margin-top: 100px;
    flex-wrap: wrap;

    @media(max-width:1440px){
        margin-top: 30px;
    }
}

.header-content{
    display: flex;
    align-items: center;
    column-gap: 71px;
    margin-top: 105px;
    flex: 0 1 auto;
    
    @media(max-width:1440px){
        margin-top: 30px;
    }

    @media(max-width:1023px){
        display: block;
        text-align: center;
    }
}

.header-text {
    max-width: 743px;
    @media(max-width:1023px){
        margin-bottom: 15px;
    }

}

.header-button {
    margin-top: 50px;
}
.header-img {
    position: relative;
    background: url(../img/header/fon.jpg) no-repeat;
    background-size: contain;
    flex: 0 0 auto;
}
